/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BACKGROUND */
.hero{
    height:100vh;
    width:100%;
    background:url("../background.jpeg") center/cover no-repeat;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* DARK OVERLAY */
.hero::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
}

/* LOGO RIGHT TOP */
.logo{
    position:absolute;
    top:30px;
    right:40px;
    width:100px;
    z-index:2;
}

/* LOGIN BOX */
.login-box{
    position:relative;
    z-index:2;
    width:350px;
    padding:40px;
    background:rgba(0,0,0,0.35);
    border-radius:12px;
    border: 1px solid rgba(0,0,0,0.6);
    backdrop-filter: blur(7px);
    box-shadow:0 0 25px rgba(0,0,0,0.5);
    text-align:center;
}

/* TITLE */
.login-box h2{
    color:white;
    margin-bottom:25px;
}

/* INPUT FIELDS */
.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:none;
    border-radius:6px;
    outline:none;
}

/* LOGIN BUTTON */
.login-box button{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:6px;
    background:rgba(247,176,124,1);
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

/* HOVER EFFECT */
.login-box button:hover{
    transform:scale(1.05);
    background:rgba(247,176,124,0.85);
}